{% extends "base.html" %}
{% load static %}

{% block title %}Главная — ARGE{% endblock %}

{% block content %}

<!-- Слайдер -->
<div id="mainCarousel" class="carousel slide mb-5 mx-auto"  data-bs-ride="carousel">
        <div class="carousel-inner">

            {% for product in recommended_products %}
                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                    {% if product.images.all %}
                        <img src="{{ product.images.all.0.img.url }}" class="d-block w-100" alt="{{ product.name }}">
                    {% else %}
                        <img src="https://via.placeholder.com/900x400"  class="d-block w-100" alt="Нет изображения">
                    {% endif %}
                </div>
            {% empty %}
                <div class="carousel-item active">
                    <img src="https://via.placeholder.com/900x400"  class="d-block w-100" alt="Нет товаров">
                </div>
            {% endfor %}

        </div>

    <!-- Кнопки навигации -->
    <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
    </button>
</div>

<!-- Популярные товары -->
<section class="popular-products">
    <h2 class="mb-4">Популярные товары</h2>
    <div class="grid">
        {% for product in popular_products %}
            <div class="product-card">
                {% if product.images.all %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.images.all.0.img.url }}" alt="{{ product.name }}">
                    </a>
                    <div>{{ product.name }}</div>
                    <div>{{ product.price }} ₽</div>
                {% else %}
                    <img src="https://via.placeholder.com/300x200"  alt="Нет изображения">
                    <div>Товар без изображения</div>
                    <div>Цена не указана</div>
                {% endif %}
            </div>
        {% empty %}
            <p>Нет популярных товаров.</p>
        {% endfor %}
    </div>
</section>

<!-- Бестселлеры -->
<section class="recommend">
    <h2 class="my-4">Бестселлеры</h2>
    <div class="grid">
        {% for product in recommended_products %}
            <div class="product-card">
                {% if product.images.all %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.images.all.0.img.url }}" alt="{{ product.name }}">
                    </a>
                    <div>{{ product.name }}</div>
                    <div>{{ product.price }} ₽</div>
                {% else %}
                    <img src="https://via.placeholder.com/300x200"  alt="Нет изображения">
                    <div>Товар без изображения</div>
                    <div>Цена не указана</div>
                {% endif %}
            </div>
        {% empty %}
            <p>Нет бестселлеров.</p>
        {% endfor %}
    </div>
</section>

{% endblock %}